[submodule "lib/cinder"]
	path = lib/cinder
	url = https://github.com/cinder/Cinder.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal.git
